
langchain
python-dotenv
langchain_community
pypdf
bs4
pymupdf
langchain-openai
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_core
beautifulsoup4
langchain-groq
fastapi
uvicorn
langserve
playwright
httpx
langchain-pinecone
pandas
pydantic
pymongo==3.12.0
dnspython==1.16.0
